@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}
@theme {

  --color-vape-neon: #00ffcc;     
  --color-vape-dark: #121212;     
  --color-vape-purple: #8b5cf6;   
  --font-heading: "Inter", sans-serif;
  --spacing-128: "32rem";
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
